<div class="container">
    <div class="row">
        <div class="col-12 text-center text-uppercase text-monospace">
            <h2>Detalle Cliente : <strong>{{cliente.nombre}}</strong></h2>
        </div>
    </div>
    <div class="row shadow p-5">
        <div class="col-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-items"><strong>ID: </strong>{{cliente.id}}</li>
                    <li class="list-group-items"><strong>Nombre: </strong>{{cliente.nombre}}</li>
                    <li class="list-group-items"><strong>Ap.Paterno: </strong>{{cliente.apPaterno}}</li>
                    <li class="list-group-items"><strong>Ap. Materno: </strong>{{cliente.apMaterno}}</li>
                    <li class="list-group-items"><strong>Correo: </strong>{{cliente.correo}}</li>
                    <li class="list-group-items"><strong>Telefono: </strong>{{cliente.telefono}}</li>
                    <li class="list-group-items"><strong>Num. Afiliado: </strong>{{cliente.numAfiliado}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
