<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h2>Lista de Clientes</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Numero Afiliado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of listado">
                        <th scope="row">{{c.id}}</th>
                        <td>{{c.nombre}} {{c.apPaterno}} {{c.apMaterno}}</td>
                        <td>{{c.numAfiliado}}</td>
                        <td>
                            <a href="" class="btn btn-success">Detalle</a>
                        </td>

                        <td>
                            <a href="" class="btn btn-warning">Editar</a>
                        </td>
                        
                        <td>
                            <a href="" class="btn btn-danger">Eliminar</a>
                        </td>

                        <td>
                            <a [routerLink]="['/clientes/detalle/',c.id]" class="btn btn-info">Ver ventas</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
